/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --text-color: #353430;
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --focus-title: var(--text-color);
  --decor-title: var(--text-color);
  --is-light: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-opacity: #32312d66;
    --text-color: #353430;
    --decoration-color: var(--text-color);
    --background-color: #fff1f7;
    --title-color: #ffc2e6;
    --focus-title: var(--text-color);
    --decor-title: var(--text-color);
    --is-light: hidden;
    }
}